<h1> Spam Email detector Using Naive Bayes </h1>

<strong>1) Importing and managing data </strong>

In [3]:
import pandas as pd
df = pd.read_csv("SMSSpamCollection", sep = "\t", header = None)
df.columns  = ['label', 'sms_message']
df.head()

  label                                        sms_message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df.label = df.label.map({'spam':1, 'ham':0})
df.head()

   label                                        sms_message
0    NaN  Go until jurong point, crazy.. Available only ...
1    NaN                      Ok lar... Joking wif u oni...
2    NaN  Free entry in 2 a wkly comp to win FA Cup fina...
3    NaN  U dun say so early hor... U c already then say...
4    NaN  Nah I don't think he goes to usf, he lives aro...

<strong>2) Splitting The Data </strong>

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['sms_message'], 
                                                    df['label'], 
                                                    random_state=1)

<strong>2) Bag Of Words (BoW) </strong>

In [9]:
#since we only have one label, we don't need vectorize it
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer()
training_data = count_vector.fit_transform(X_train)
testing_data = count_vector.transform(X_test)